html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.top-row{
  background-color:#112146;
  color: #fff;
  padding: 20px; 
  color: white;
}

.small-input{
	width: 30px;
	border: none;
}

.small-input-long{
	width: 50px;
	border: none;
}

.table-input{

}

.navi-buttons{
	padding-right: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}